/* Start Global Rules  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --danger-color: #f56a6a;
  --gray-color: #7f888f;
  --main-transition: 0.3s;
  --padding-top: 100px;
  --padding-bootom: 100px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  transition: var(--main-transition);
  color: black;
}
a:hover {
  color: #f0dbdb;
}
:focus {
  outline: none;
}
/* End Global Rules  */

/* Start Header  */
header {
  background-color: #dba39a;
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 1100;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 160px;
}
header .logo i {
  color: gold;
  font-size: 30px;
  margin-right: 8px;
}
header .logo a {
  font-size: 20px;
}
header .logo a:hover {
  color: #f0dbdb;
}
header .logo a span {
  font-weight: bold;
  font-size: 25px;
}
header ul.links {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart-badge {
  position: relative;
}
.cart-badge i {
  font-size: 30px;
  cursor: pointer;
  transition: var(--main-transition);
}
.cart-badge i:hover {
  transform: scale(1.1);
}
.cart-badge span {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  top: -20px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart {
  position: fixed;
  background-color: white;
  width: 0px;
  min-height: 100vh;
  right: 0;
  top: 75px;
  transition: var(--main-transition);
}
.cart.open {
  width: 250px;
}
.cart .cart-title {
  width: 70%;
  margin: 20px auto 0;
}
.cart-content {
  padding: 20px;
  width: 100%;
}
.cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-box .cart-box-img {
  width: 70px;
  height: 70px;
}
.cart-box .cart-details {
  width: 100px;
}
.cart-box .cart-details .name-item {
  font-size: 15px;
  margin: 0;
}
.cart-box .cart-details .price-item {
  color: #8bc34a;
  font-weight: bold;
  margin: 10px 0 0;
}
.cart-box .cart-details .quantity-item {
  width: 40px;
  text-align: center;
}
.cart-box .remove-item {
  color: red;
  font-size: 15px;
  cursor: pointer;
}
.total-cart {
  padding-right: 20px;
  margin-bottom: 15px;
  text-align: right;
}
.total-cart .total-title {
  margin-right: 5px;
  font-weight: bold;
}
.total-cart .total-price {
  color: red;
}
.btn-buy {
  width: 70%;
  border: none;
  margin: 0 35px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: red;
  transition: var(--main-transition);
}
.btn-buy:hover {
  transform: scale(1.1);
}
.close-cart {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}
/* End Header  */

/* Start Content  */
.content {
  padding-top: 120px;
  padding-bottom: var(--padding-bottom);
}
.item {
  border-radius: 8px;
  padding: 10px 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: var(--main-transition);
  height: 400px;
  margin-bottom: 20px;
  text-align: center;
}
.item:hover {
  box-shadow: rgba(149, 157, 165, 0.788) 0px 8px 24px;
  transform: translateY(-5px);
}
.item:hover .item-img {
  transform: rotate(6deg);
}
.item-img {
  width: 185px;
  height: 185px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.item-info {
  margin-top: 15px;
  height: 110px;
}
.item-price {
  color: green;
  font-size: 15px;
  font-weight: bold;
}
.item-heading {
  font-size: 18px;
  height: 45px;
}
.item-desc {
  font-size: 12px;
}
.item-info {
  padding-left: 20px;
}
.item-add-to-cart {
  border: none;
  padding: 10px;
  color: white;
  background-color: var(--danger-color);
  border-radius: 8px;
  cursor: pointer;
  transition: var(--main-transition);
}
.item-add-to-cart:hover {
  transform: scale(1.1);
}
/* End Content  */
